body {
    background-color: rgb(116, 116, 214);
}

header {
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 8px;
    width: 450px;
    margin: auto;
}

footer {
    text-align: center;
}

input {
    border-radius: 8px;
    border: 1px solid gray;
}

input:hover {
    background-color: rgb(214, 214, 214);
}

select {
    border-radius: 8px;
    border: 1px solid gray;
}